
$red-active: #E6282B
$main-nav: #211D1A
$light-grey: #F9FAFB
$codeBg: #2F4858
$codeFont: #c5c8c6
$blue: #008DDF


$black: #101010
$white: #FFF
$shadow: rgba(115,134,160,0.24)

$bg: #F8F8F9
$border: #EAEAF1
$primary100: #4268F6
$hoverBg: #535B8E
$grey100: #192035
$grey: #798897
$grey80: #767676