.button
  transition: all 0.2s
  border-radius: 4px
  padding: $space-md $space-xl
  height: 40px
  border-color: $primary100
  color: $primary100
  &:hover
    color: $hoverBg
    border-color: $hoverBg
    transition: all 0.2s

  &.is-primary
    background-color: $primary100
    &:hover
      background-color: $hoverBg
    &.is-outlined
      border-color: $primary100
      color: $primary100
      &:hover
        border-color: $hoverBg
        color: $hoverBg
        background: transparent
  
  &.is-success
    background: #69D6D4

  &.is-white.is-outlined
    background: transparent
    border-color: $white

  & > i:first-child
    margin-right: $space-md
    margin-left: -$space-md