.members
  margin-top: $space-xl

.member
  &:not(:last-child)
    &:after
      content: ""
      background: $border
      height: 2px
      display: block
      margin: 45px -40px 40px
  & > .is-pulled-right
    position: relative
    z-index: 2
  & > .name
    color: $main-nav
    font-size: 20px
    line-height: 26px
    position: relative
    margin-bottom: $space-md
    .code-name
      font-family: $code-font-family
      display: block
      font-size: 25px
      line-height: 30px
      margin-top: 8px
      &:first-child
        margin-left: 0
    .tag
      position: relative
      top: -1px
      margin-right: 3px
    .href-link
      color: $main-nav
      position: absolute
      padding: 1px
      left: -20px
      top: 0
      bottom: 0
      width: 21px
      opacity: 0
    &:hover .href-link
      opacity: 1
  h5
    font-size: 20px
  & > .description
    p
      font-size: 20px
      margin: 25px 0
    margin-bottom: 25px
    