.tag
  text-transform: uppercase

body pre .tag
  text-transform: none
  align-items: normal
  background-color: inherit
  border-radius: 0
  color: inherit
  display: inline
  font-size: 15px
  height: auto
  justify-content: normal
  line-height: 22.5px
  padding-left: 0
  padding-right: 0
  white-space: pre-wrap