.top-navbar
  background: $white
  padding: $space-xl $space-xxl
  box-shadow: 0 0 40px 0 $shadow
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 5
  
  .navbar
    display: flex

  .navbar-brand
    img
      margin-right: 20px
      @include until($desktop)
        margin-left: 30px
    h1
      font-size: 30px
      font-family: $header-font-family
    @include until($desktop)
      flex-grow: 1

  .github-stars
    padding: 6px 14px 0
    @include until($desktop)
      display: none

  .navbar-burger
    margin-left: 0