<?js
    var data = obj.examples;
    var component = obj.component
    var self = this;

    data.forEach(function(example, number) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <?js if (component && component.type === 'react') { ?>
        <?js= self.partial('react-component.tmpl', { example, number}) ?>
    <?js } else if (component && component.type === 'vue') { ?>
        <?js= self.partial('vue-component.tmpl', example) ?>
    <?js } else { ?>
        <pre class="prettyprint"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    <?js } ?>
<?js
    });
?>