<?js
    var data = obj.examples;
    var component = obj.component
    var self = this;

    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <?js if (component) { ?>
        <?js= self.partial('component.tmpl', example) ?>
    <?js } else { ?>
        <pre class="prettyprint"><code><?js= self.htmlsafe(example.code) ?></code></pre>
    <?js } ?>
<?js
    });
?>