<?js
var betterDocs

if(env.conf.templates && env.conf.templates.betterDocs) {
    betterDocs = env.conf.templates.betterDocs
} else {
    betterDocs = {}
}
var self = this
?>

<!DOCTYPE html>
<html lang="en">
<?js= this.partial('head.tmpl', { betterDocs, title }) ?>

<body class="landing">
    <div id="stickyNavbarOverlay"></div>
      <?js= this.partial('topnav.tmpl', { betterDocs }) ?>
    <div id="main">
      <?js= content ?>
    </div>

<script src="scripts/app.min.js"></script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>


