<?js
var betterDocs

if(env.conf.templates && env.conf.templates.betterDocs) {
    betterDocs = env.conf.templates.betterDocs
} else {
    betterDocs = {}
}

var self = this
var isTutorial = subtitle === 'Tutorial'

var search = env.conf.templates && env.conf.templates.search

?>

<!DOCTYPE html>
<html lang="en">
<?js= this.partial('head.tmpl', { betterDocs, title }) ?>

<body class="<?js= self.smallHeader ? 'layout small-header' : 'layout'?>">
    <div id="stickyNavbarOverlay"></div>
    <?js= this.partial('topnav.tmpl', { betterDocs, doc }) ?>
    <div id="main">
        <div
            class="sidebar <?js= isTutorial ? 'tutorials' : '' ?>"
            id="sidebarNav"
        >
            <?js if(search) { ?>
                <div class="search-wrapper">
                    <input id="search" type="text" placeholder="Search docs..." class="input">
                </div>
            <?js } ?>
            <nav>
                <?js if (isTutorial) { ?>
                    <?js= this.tutorialsNav ?>
                <?js } else { ?>
                    <?js if (section) { ?>
                    <?js= this.sections[section].nav ?>
                    <?js } else { ?>
                        <?js= this.nav ?>
                    <?js } ?>
                <?js } ?>
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p><?js= subtitle ?></p>
                    <h1><?js= title ?></h1>
                </header>
                <?js= content ?>
            </div>
            <?js if (betterDocs.softwareBrothers === 'paranoid') { ?>
                <div class="software-brothers-paranoid">
                    <div class="columns">
                        <div class="side column is-4-tablet is-2-desktop">
                            <a href="https://softwarebrothers.co" target="_blank"><img src="images/software-brothers.svg" alt="SoftwareBrothers"></a>
                            <p>Proudly built and maintained by SoftwareBrothers</p>
                        </div>
                        <div class="main column is-8-tablet is-10-desktop">
                            <h4>
                                Software House with a passion for both JavaScript and TypeScript.
                            </h4>
                            <p class="buttons">
                                <a class="button what-we-do" href="https://softwarebrothers.co/services">See what we do</a>
                                <a class="button what-we-believe is-outlined" href="https://softwarebrothers.co/about-us">See what we believe in</a>
                            </p>
                        </div>
                    </div>
                </div>
            <?js } ?>
            <?js if (betterDocs.hideGenerator !== true) { ?>
            <footer class="footer">
                <div class="content has-text-centered">

                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate) { ?> on <?js= (new Date()) ?><?js } ?></p>
                    <?js if (!!betterDocs.softwareBrothers) { ?>
                        <p class="sidebar-created-by">
                            <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by
                            <a href="https://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Software House</a>
                        </p>
                    <?js } ?>
                </div>
            </footer>
            <?js } ?>
        </div>
            <div id="side-nav" class="side-nav">
                <div class="side-menu"></div>
                <?js if (betterDocs.softwareBrothers === 'paranoid' || betterDocs.softwareBrothers === 'slightly-paranoid') { ?>
                <div class="software-brothers">
                    <p>Proudly built and maintained by</p>
                    <a href="https://softwarebrothers.co" target="_blank"><img src="images/software-brothers-sidebar.svg" alt="SoftwareBrothers"></a>
                </div>
                <?js } ?>
            </div>
    </div>
<script src="scripts/app.min.js"></script>
<script src="scripts/linenumber.js"> </script>
<?js if(search) { ?>
<script src="scripts/search.js"> </script>
<?js } ?>
<?js= betterDocs.bodyTrackingCode ?>
</body>
</html>
