<?js
var data = obj;
var self = this;
?>
<?js if (kind === 'event' && data.type && data.type.names) {?>
    <p class="method-parameter is-pulled-right">
        <label>Type: </label>
        <?js= self.partial('type.tmpl', data.type.names) ?>
    </p>
<?js } ?>
<?js if (data.kind !== 'module' && !data.hideconstructor) { ?>
    <?js if (data.kind !== 'namespace') { ?>
    <h4 class="name" id="<?js= id ?>">
        <?js= self.partial('name-link.tmpl', {id: id}) ?>
        <?js if (data.rawAttribs && data.rawAttribs.length) {?>
            <?js data.rawAttribs.forEach(function(attrib) { ?>
                <span class='tag'><?js= attrib ?></span>
            <?js }); ?>
        <?js } ?>
        <span class="code-name">
            <?js if (data.component) { ?>
                <?js= '&lt' + name + ' ' + data.component.props.map(p => '<i>' + p.name + '</i>').join(' ') + ' /&gt' ?>
            <?js } else { ?>
                <?js= (kind === 'class' ? 'new ' : '') + name + (data.signature || '') ?>
            <?js } ?>
        </span>
    </h4>
    <?js } ?>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>
<?js } ?>

<?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
    <div class="method-parameter columns">
        <div class="column is-2"><label>Extends:</label></div>
        <div class="column is-10">
            <?js= self.partial('augments.tmpl', data) ?>
        </div>
    </div>
<?js } ?>

<?js if (data['this']) { ?>
    <p class="method-parameter">
        <label>This:</label>
        <?js= this.linkto(data['this'], data['this']) ?>
    </p>
<?js } ?>

<?js if (data.component) { ?>
    <?js if (data.component.props && data.component.props.length) { ?>
        <h5>PropTypes:</h5>
        <?js= self.partial('proptypes.tmpl', data.component) ?>
    <?js } ?>
<?js } ?>

<?js if (data.params && params.length && !data.hideconstructor) { ?>
    <h5>Parameters:</h5>
    <?js= this.partial('params.tmpl', params) ?>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.kind !== 'module' && data.requires && data.requires.length) { ?>
    <div class="method-parameter columns">
        <div class="column is-2"><label>Requires:</label></div>
        <div class="column is-10">
            <ul><?js data.requires.forEach(function(r) { ?>
                <li><?js= self.linkto(r) ?></li>
            <?js }); ?></ul>
        </div>
    </div>
<?js } ?>

<?js if (data.fires && fires.length) { ?>
    <div class="method-parameter columns">
        <div class="column is-2"><label>Fires:</label></div>
        <div class="column is-10">
            <ul><?js fires.forEach(function(f) { ?>
                <li><?js= self.linkto(f) ?></li>
            <?js }); ?></ul>
        </div>
    </div>
<?js } ?>


<?js if (data.listens && listens.length) { ?>
    <div class="method-parameter columns">
        <div class="column is-2"><label>Listens to Events:</label></div>
        <div class="column is-10">
            <ul><?js listens.forEach(function(f) { ?>
                <li><?js= self.linkto(f) ?></li>
            <?js }); ?></ul>
        </div>
    </div>
<?js } ?>



<?js if (data.listeners && listeners.length) { ?>
    <div class="method-parameter columns">
        <div class="column is-2"><label>Listeners of This Event:</label></div>
        <div class="column is-10">
            <ul><?js listeners.forEach(function(f) { ?>
                <li><?js= self.linkto(f) ?></li>
            <?js }); ?></ul>
        </div>
    </div>
<?js } ?>

<?js if (data.modifies && modifies.length) {?>
    <div class='columns method-parameter'>
        <div class="column is-2"><label>Modifies:</label></div>
        <div class="column is-10">
            <?js
                modifies.forEach(function(m) { ?>
                    <?js= self.partial('modifies.tmpl', m) ?>
                <?js });
            ?>
        </div>
    </div>
<?js} ?>

<?js if (data.exceptions && exceptions.length) { ?>
    <div class='columns method-parameter'>
        <div class="column is-2"><label>Throws:</label></div>
        <div class="column is-10">
            <?js
                exceptions.forEach(function(r) { ?>
                    <?js= self.partial('exceptions.tmpl', r) ?>
                <?js });
            ?>
        </div>
    </div>
<?js} ?>

<?js if (data.returns && returns.length) { ?>
    <div class='columns method-parameter'>
        <div class="column is-2"><label>Returns:</label></div>
        <div class="column is-10">
            <?js
                returns.forEach(function(r) { ?>
                    <?js= self.partial('returns.tmpl', r) ?>
                <?js });
            ?>
        </div>
    </div>
<?js} ?>
<?js if (data.yields && yields.length) { ?>
    <div class='columns method-parameter'>
        <div class="column is-2"><label>Yields:</label></div>
        <div class="column is-10">
            <?js
                yields.forEach(function(r) { ?>
                    <?js= self.partial('returns.tmpl', r) ?>
                <?js });
            ?>
        </div>
    </div>
<?js} ?>

<?js if (data.examples && examples.length) { ?>
    <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
    <?js= this.partial('examples.tmpl', data) ?>
<?js } ?>
