<?js
    var data = obj;
    var params = data.params;
    var param = data.param;
    var level = data.level;
    var self = this;
?>
<tr class="deep-level-<?js= level ?>">
  <?js if (params.hasName) {?>
      <td class="name"><code><?js= param.name ?></code></td>
  <?js } ?>

  <td class="type">
  <?js if (param.type && param.type.names) {?>
      <?js= self.partial('type.tmpl', param.type.names) ?>
  <?js } ?>
  </td>

  <?js if (params.hasAttributes) {?>
      <td class="attributes">
      <?js if (param.optional) { ?>
          &lt;optional><br>
      <?js } ?>

      <?js if (param.nullable) { ?>
          &lt;nullable><br>
      <?js } ?>

      <?js if (param.variable) { ?>
          &lt;repeatable><br>
      <?js } ?>
      </td>
  <?js } ?>

  <?js if (params.hasDefault) {?>
      <td class="default">
      <?js if (typeof param.defaultvalue !== 'undefined') { ?>
          <?js= self.htmlsafe(param.defaultvalue) ?>
      <?js } ?>
      </td>
  <?js } ?>

  <td class="description last"><?js= param.description ?></td>
</tr>
<?js if (param.subparams) { ?>
  
  <?js
      var self = this;
      param.subparams.forEach(function(subparam) {
          if (!subparam) { return; }
          var propData = {
              params: params,
              param: subparam,
              level: level + 1,
          }
  ?>
    <?js= self.partial('param.tmpl', propData) ?>
  <?js }); ?>
<?js } ?>