<?js
    var data = obj;
    var props = data.props;
    var prop = data.prop;
    var level = data.level;
    var self = this;
?>
<tr class="deep-level-<?js= level ?>">
    <?js if (props.hasName) {?>
        <td class="name"><code><?js= prop.name ?></code></td>
    <?js } ?>

    <td class="type">
    <?js if (prop.type && prop.type.names) {?>
        <?js= self.partial('type.tmpl', prop.type.names) ?>
    <?js } ?>
    </td>

    <?js if (props.hasAttributes) {?>
        <td class="attributes">
        <?js if (prop.optional) { ?>
            &lt;optional><br>
        <?js } ?>

        <?js if (prop.nullable) { ?>
            &lt;nullable><br>
        <?js } ?>
        </td>
    <?js } ?>

    <?js if (props.hasDefault) {?>
        <td class="default">
        <?js if (typeof prop.defaultvalue !== 'undefined') { ?>
            <?js= self.htmlsafe(prop.defaultvalue) ?>
        <?js } ?>
        </td>
    <?js } ?>

    <td class="description last"><?js= prop.description ?></td>
</tr>
<?js if (prop.subprops) { ?>
  <?js
      var self = this;
      prop.subprops.forEach(function(subprop) {
          if (!subprop) { return; }
          var propData = {
              props: props,
              prop: subprop,
              level: level + 1,
          }
  ?>
      <?js= self.partial('property.tmpl', propData) ?>
  <?js }); ?>
<?js } ?>