<?js
var { example, number} = obj;
var uniqId = ['component', number].join('')
?>

<div id='<?js= uniqId ?>'></div>

<script>
    ReactDOM.createRoot(document.getElementById('<?js= uniqId ?>')).render(ReactWrapper({
    example: <?js= JSON.stringify(example.code || null) ?>,
    uniqId: <?js= JSON.stringify(uniqId) ?>,
  }));
</script>