<?js
var example = obj;
var self = this;
var uniqId = Math.random().toString(36).substring(2) 
               + (new Date()).getTime().toString(36);
?>

<div id='<?js= uniqId ?>'></div>

<script>
  ReactDOM.render(ReactWrapper({
    example: <?js= JSON.stringify(example.code || null) ?>,
    uniqId: <?js= JSON.stringify(uniqId) ?>,
  }), document.getElementById('<?js= uniqId ?>'));
</script>